@mixin paragr_h1() {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.0em;
    letter-spacing: 0.1em;
    font-weight: 500;
    text-align: center;
    //margin: 2%;
}

//------------------------
$font_main_page: 'Courier New',
Courier,
monospace;
//------------------------
@mixin main_page($font_main_page) {
    font-family: $font_main_page;
    font-size: 1.0em;
    font-weight: 550;
    padding: 0.8% 2%;
    color: #000;
    border: 2px solid #fff;
    border-radius: 1.3em;
}