// Style of the main content of the page resume.
//---------------------
$height_main_content_rez: 75vh;
$width_right_column: 25%;
//-----------------------
@import "mixins";

/*------------------*/

.main_content_resume {
    height: $height_main_content_rez;
    background-color: rgb(177, 198, 235);
    width: 90%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    border: 3px solid rgb(42, 88, 126);
}

.index_page_rez {
    margin: 5%;
    // border: 1px solid red;
}

.index_page_rez a {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.0em;
    font-weight: 550;
    //margin-left: 2%;
    padding: 1.2% 4%;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 0.9em;
}

.resume {
    //width: 65%;
    //margin: 2%;
    text-align: center;
    padding: 2% 0% 2% 0%;
    //border: 3px solid red;
}


/*
@mixin paragr_h1() {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.0em;
    letter-spacing: 0.1em;
    font-weight: 500;
}
*/

.resume h1 {
    @include paragr_h1();
    //font-family: 'Courier New', Courier, monospace;
    //font-family: "Gabriola";
    //font-family: Arial, Helvetica, sans-serif;
    //font-family: Georgia, 'Times New Roman', Times, serif;
    //font-size: 2.0em;
    //letter-spacing: 0.1em;
    //font-weight: 500;
    //text-align: center;
    //margin-left: 30%;
    //    color: red;
    //padding: 1%;
}

.main_content_rez {
    display: flex;
    justify-content: space-between;
    //border: 3px solid red;
}

.main_content_rez h3 {
    font-size: 1.2em;
    font-weight: 600;
    margin: 1.5%;
}

.main_content_rez h2 {
    font-size: 1.4em;
    font-weight: 600;
}

.main_left_rez {
    width: $width_right_column;
    height: $height_main_content_rez;
    //font-size: 1.5em;
    background-color: rgba(25, 66, 138, 0.8);
    //border: 1px solid red;
}

.my_photo_re {
    margin: 1% 3% 3% 20%;
    border: 2px solid blue;
    border-radius: 0.7em;
}

.contacts_left_column {
    color: #fff;
    margin: 2%;
    //border: 2px solid blue;
}

.main_left_rez ul li {
    margin: 2%;
}

.main_rigth_rez {
    width: 70%;
    //border: 3px solid red;
}

.my_name {
    margin: 2%;
}

.my_name p {
    margin: 1% 1%;
}

.info {
    display: flex;
    justify-content: space-around;
}

//----------------------------------
//@media only screen and (min-width: 825px) and (max-width: 1368px)