// Style of the main content of the main page.
//---------------------
.main_content {
    display: flex;
    justify-content: space-between;
    height: 100%;
    //border: 1px solid blue;
}

.main_left {
    width: 23%;
    //border: 2.5px solid #fff;
}


/*
.index_page {
    width: 60%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1em;
    font-weight: 600;
    text-align: center;
    margin-left: 5%;
    margin-top: 5%;
    padding: 0.4em 0.8em;
    border: 2.5px solid #fff;
    border-radius: 0.9em;
}
*/

.my_photo {
    max-width: 100%;
    padding: 2%;
    margin: 5%;
}

.my_photo1 {
    max-width: 210px;
}

.main_rigth {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 75%;
    margin-top: 0.5em;
    //border: 1px solid green;
}

.top_clouds {
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
    margin-right: 2%;
    //border: 1px solid red;
}

.cloud_skills {
    margin-top: 3%;
    margin-left: 0%;
}

.cloud_design {
    //border: 1px solid brown;
    margin-right: 5%;
}


/*
.cloud_design img {
    border: 1px solid #ff0000;
}
*/

.cloud_desktop {
    margin-top: 2.5%;
    margin-left: 0%;
}

.words {
    height: 15%;
    //box-sizing: border-box;
    margin-top: 2%;
    //font-family: 'Courier New', Courier, monospace;
    font-family: "Gabriola";
    color: #fff;
    //border: 1px solid black;
}

.words h3 {
    font-size: 2.7em;
    letter-spacing: 0.15em;
    //text-align: left;
    margin-left: 15%;
}

.words p {
    font-size: 2.1em;
    text-align: right;
    margin-right: 20%;
}

.bottom_clouds {
    height: 40%;
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
    //border: 1px solid red;
}

.cloud_design {
    margin-top: -1%;
    margin-left: 2%;
}

.cloud_articles {
    margin-top: -2%;
    margin-left: -5%;
}

.cloud_translates {
    margin-top: 2%;
    margin-left: 0%;
}

//----------------------------------
//@media only screen and (min-width: 825px) and (max-width: 1368px)