// Style of the main content of the page skills.
//---------------------
//$height_main_content_rez: 75vh;
//$width_right_column: 25%;
//-----------------------
@import "mixins";

/*
.main_content_sk {
    display: flex;
}
*/

.index_page_sk {
    margin: 3%;
    // border: 1px solid red;
}

.wrapper_main_sk {
    width: 60%;
    height: 35vh;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    background-color: royalblue;
    border: 1px solid red;
    border-radius: 1em;
}

.wrapper_main_sk h1 {
    //font-size: 1.7em;
    //text-align: center;
    //margin: 3%;
    @include paragr_h1();
}

.wrap_main_sk {
    display: flex;
    justify-content: space-around;
    font-size: 1.4em;
    line-height: 1.5em;
}

.index_page_sk a {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.0em;
    font-weight: 550;
    //margin-left: 2%;
    padding: 1.0% 2%;
    color: #000;
    border: 2px solid #fff;
    border-radius: 1.3em;
}

//----------------------------------
//@media only screen and (min-width: 825px) and (max-width: 1368px)