@import "zeroing_styles";
@import "base_style";
@import "st_page_desktop";

/*------------------------*/

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background: url("../images/backgr.jpg") 50%/100% 100% no-repeat;
}

.content {
    flex-grow: 1;
}

//---------------------