@import "zeroing_styles";
@import "base_style";
@import "st_main_page";
//@import "st_page_resume";

/*------------------------*/

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background: url("../images/backgr.jpg") 50%/100% 100% no-repeat;
}

.content {
    flex-grow: 1;
}

//---------------------
.index_page {
    width: 60%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1em;
    font-weight: 600;
    text-align: center;
    margin-left: 5%;
    margin-top: 5%;
    padding: 0.4em 0.8em;
    border: 2.5px solid #fff;
    border-radius: 0.9em;
}

.left_column_desk {
    font-size: 5em;
    color: red;
}